//Colors
$dkBlue: hsl(230, 29%, 20%);
$dkGrayBlue: hsl(230, 11%, 40%);
$grayBlue: hsl(231, 7%, 65%);
$lgGrayBlue: hsl(207, 33%, 95%);
$red: hsl(0, 100%, 68%);

//Font sizes
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px
